.ArticleListPage{
  
    height: calc(100vh - 50px);
    width:100%;
    position: absolute;
    bottom:0;
    display: grid;
    grid-template-rows: 400px 1fr ;
    grid-template-areas: 
    'carousel'
    'list';
   
    overflow-x: hidden;
}


.Carousel{
    grid-area: carousel;
    position: fixed;
    width: 100%;
    text-align: center;

}
.ArticleListContainer{
    
 overflow-y: auto;
 grid-area: list;
}

.ArticleList{
    display: inline-flex;
    padding: 5px;
    border: 1px solid white;
    justify-content: space-evenly;

}