.ArticleListPage{
  
    min-height: calc(100vh - 50px);
    height: fit-content;
    width:100%;
    position: absolute;
    bottom:0;
    display: grid;
    grid-template-rows: 350px 1fr ;
    grid-template-areas: 
    'carousel'
    'list';
   
    
}


.Carousel{
    grid-area: carousel;
    position: fixed;
    width: 100%;
    text-align: center;

}
.ArticleListContainer{
     overflow-x: auto;
 overflow-y: auto; 
 grid-area: list;
}

.ArticleList{
    display: inline-flex;
    padding: 5px;
    border: 1px solid white;
    justify-content: space-evenly;

}
.GalleryList{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    border: 1px solid white;
    justify-content: space-evenly;
}
.GalleryListItem{
    
    margin: 5px;
    height:100px;
}
.GalleryListItem:hover{
  opacity: .5;
    cursor: pointer;
}