.ArticleListItem {
  background: none;
  border: 0;
  /* border-right: 1px solid #f5f5f538; */
  font-size: smaller;
  /* border-left: 1px solid #f5f5f538; */

  /* padding: 5px; */
  margin: 5px 5px 0;
  text-align: center;
  /* width: 100%; */
  min-width:175px;
  text-decoration: none;
  position: relative;
}

.ArticleListItem:hover {
  cursor: pointer;
  background-color: #f7f8f9;
}
img.ArticleListItem_img {
  margin: auto;
  height:150px;
  z-index:4;
  opacity:.7;
}

.ArticleListItem_img:hover {
  opacity:.1;
  display: none;

}

.ArticleListItem_info {
  /* padding: 20px; */
  height:150px;
  width: 150px;
  z-index:2;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
  
}


.ArticleListItem_info:hover {
 
  opacity: 1;

}

.ArticleListItem,
.ArticleListItem:visited {
  color: #555;
}

.ArticleListItem__header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}
.ArticleListItem__heading {
  margin: 0;
}

.ArticleListItem__author {
  font-weight: bold;
  color: #555;
}

.ArticleListItem__date {
  display: none;
}

.ArticleListItem__footer {
  padding: 10px 0;
}

.ArticleListItem__comment-count {
  float: right;
  font-size: 1.3em;
}

.ArticleListItem__comment-count .fa-layers-text {
  left: 50%;
  top: 44%;
  font-family: Arial;
  font-weight: bold;
  font-size: smaller;
}

@media screen and (min-width: 440px) {
  .ArticleListItem__date {
    display: initial;
  }
}
