.ArticleListItem {
  background: none;
  border: 0;

  font-size: smaller;

  margin: 5px;
  text-align: center;

  height: 175px;
  width: 175px;
  text-decoration: none;
  position: relative;
}

.ArticleListItem:hover {
  cursor: pointer;
}
img.ArticleListItem_img {
  margin: auto;
  height: 175px;
  z-index: 2;
  opacity: 0.8;
}

.ArticleListItem_img:hover {
}

.ArticleListItem_info {
  padding: 5px;
  height: 175px;
  width: 175px;
  z-index: 4;
  position: absolute;
  top: 0;

  opacity: 0;
}

.ArticleListItem_info:hover {
  opacity: 1;
}

.ArticleListItem,
.ArticleListItem:visited {
  color: #555;
}

.ArticleListItem__header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}
.ArticleListItem__heading {
  margin: 0;
}

.ArticleListItem__author {
  font-weight: bold;
  color: white;
}

.ArticleListItem__date {
  display: none;
}

.ArticleListItem__footer {
  padding: 10px 0;
}

.ArticleListItem__comment-count {
  float: right;
  font-size: 1.3em;
}

.ArticleListItem__comment-count .fa-layers-text {
  left: 50%;
  top: 44%;
  font-family: Arial;
  font-weight: bold;
  font-size: smaller;
}

@media screen and (min-width: 440px) {
  .ArticleListItem__date {
    display: initial;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
  }
}
