.App {
  min-height: 100vh;
  height:auto;
  width: 100vw;
  
  background-color: rgb(14, 14, 14);
}

.App__header {
  width: 100vw;
  margin: auto;
  height: 50px;
  position: fixed;
  z-index: 3;
}

.App__main {
  height: calc(100vh - 50px);
  width: 100vw;
}
