.Header {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: normal;
  justify-content: space-between;

  z-index: 2;
}

#Header__logo {
  position: absolute;
  left: 10px;
  top: 10px;
  border: none;
  text-decoration: none;
  color: white;
}

.Header__not-logged-in {
  display: flex;
  flex-direction: column;
}

.Header__not-logged-in .Hyph {
  display: none;
}

.Header__links {
  margin: auto;
}
.Header__links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid white;
  margin: 0 20px;
  text-transform: uppercase;
  font-family: fantasy;
  font-weight: 600;
}

.Header__links a:hover {
  text-shadow: 1px 1px 5px #c4b41b, -1px -1px rgb(235, 218, 70);
  color: yellow;
  cursor: pointer;
}
@media screen and (min-width: 450px) {
  .Header {
    align-items: center;
  }

  .Header__not-logged-in {
    flex-direction: row;
  }

  .Header__not-logged-in .Hyph {
    display: initial;
  }
}
