
.carousel__wrapper {
display: inline-flex;
}



.carousel__container {

	width: 100%;
	position: relative;
	overflow: hidden;
	align-items: center;

}

.carousel__image {
	
	display: none;
	opacity: 0;
	/* opacity: 0; */
	transform: scale(.95);
	transition: all 3.5s ease-out;
	
}
		.carousel__image.active {
		display: block;
			height: 400px;
		
			width: 100%;
			object-fit: contain;
			max-width:800px;
			opacity: 1;
			transform: scale(1);
		

		}

.carousel__button {
	background:none;
	border: 0;
	color: purple;
	cursor: pointer;
	font-size: 2rem;
	flex-grow: 1;
	outline: none;
	padding: 1rem;
	transition: all .1s ease-out;
	position: absolute;
			top:0;
			bottom:0;
}
		.carousel__button:hover {
			background: rgba(#e71b1b, .8);
			
		}

		button.carousel__button.right{
			
			right:50px;
		}

		button.carousel__button.left{
			/* position: absolute; */
			left:50px;

		}

.flavor-text {
	display: block;
	color: rgba(#fff, .5);
	font-size: .75rem;
	font-weight: 300;
	letter-spacing: 2px;
	line-height: 1.5;
	margin: 1rem auto;
	max-width: 100%;
	text-align: center;
	text-transform: uppercase;
	width: 15rem;
}
